.pwalogo {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.pwalogo img{
   
    position: relative;
    justify-content: center;
    width: 10vw;
    
}