.text-dark {
  text-align: center;

  flex: 1 1 70%;
}

/* .headerC {
 
} */
.headerC > div{
  display: flex;
 flex: 1 1 50%;
 align-self: flex-start;
 padding-left: 2%;
 padding-top: 1%;
 align-self: center;
 
}

.headerC > div + div{
 display: flex;
  flex: 1 1 50%;
 
  justify-content: end;
  padding-right: 2%;
}

.text-dark {
  background-image: url("../images/headerimg.png");
  border-bottom: solid 3px white;
  background-color: #0087d2;

  width: 100vw;
  padding-bottom: 15px;
}

.logAndSign {
  padding-top: 12px;
  position: relative;
  right: 20px;
  flex: 1 1 20%;
  max-width: fit-content;
  margin-right: 1.5%;
  transform: scale(1.1);
}
a.logAndSign:hover {

    background-color: #0087D2;
    

}

.headerC h2 {
 
    color: white;
    font-size: 32px;
    background-color: #2FA2DC;
  
    
}

