.text-dark{
    text-align: center;
  
    flex: 1 1 70%;
   
}

.headerC{
   
   
    text-align: center;

   

 
   
   
}

.text-dark {
    background-image: url("../images/headerimg.png");
   
   
    background-color: #0087D2;

    width: 100vw;
    padding-bottom: 15px;
}




.logAndSign{
    padding-top: 12px;
    position: relative;
    right: 20px;
    flex: 1 1 20%;
    max-width: fit-content;
    margin-right: 1.5%;
    transform: scale(1.1);
   
}
a.logAndSign:hover {
    background-color: #0087D2;
    

}

.welcome {
    
    position: relative;
    right: 65vw;
    top: 30px;
    flex: 1 1 20%;
    max-width: fit-content;
    max-height: fit-content;
    transform: scale(1.1);
    color: white;
    font-size: 28px;
    background-color: #2FA2DC;
    margin-bottom: 25px;
    margin-left: 1.5%;
    
}