.p-2 {
  text-align: center;
}

/* body {
  background-color: #2da2dc00 !important;
  background-image: none !important;
} */

.logBack {
  height: fit-content;
  background-color: #0091f800;
  background-image: url("../images/blueLearn.jpg");
  background-repeat:initial;
  background-size: cover;
  background-position: center;

  
  
  
  width: 100vw;
  /* height: 140vh; */
  
}


.logC {
  position: relative;

  align-items: center;
  /* background-color: #2da1dc; */
  /* margin-top: 15%; */

  /* margin: 10%; */
  padding: 0% 15% 0% 15%;
  
 
}



.logE{
  transform: scale(1.0) !important;
  margin-top: 8% !important;
  margin-bottom: 8% !important;
  max-width: 50vw !important;
  
  
}

.cCe{
 
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}



.noAc{
  text-align: center;
  margin-top: 8%;
}

.logC > h4 {
  text-align: center;
  font-size: 3em;
  text-shadow: 0 10px 5px rgb(0, 0, 0);
}

.d-flex + h4 {
  text-shadow: 0 10px 5px rgb(0, 0, 0);
}

.upSign {
 
  color: rgba(0, 0, 0, 0.584);
  text-shadow: 0 10px 12px rgba(0, 0, 0, 0);
  text-decoration: underline !important;
}

.logBt {
  background-color: #2da1dc;
  width: 100%;
  font-size: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.386);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.591);
}

.btn:hover {
  background-color: #0090f8;
  color: #0d0d0d;
  border: 1px solid #808080;
  font-weight: 300px;
}

.card-text {
  position: relative;

  bottom: 0;
  left: 0;
  right: 0;
 margin: auto;
 
}
.containerr {
  max-width: 50vw;
  max-height: fit-content;

  background: rgba(55, 165, 222, 0.65);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(55, 165, 222, 1);
  padding: 30px 30px;
  border-radius: 5px;
  transform: scale(1.2);
}

.form-control {
  position: relative;
  /* margin: 0px 0 0px; */
  /* margin-bottom: 15%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: -20vh;
  font-size: 1em !important;


  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.504);
}

.aone > form > input{
 
  height: 5vh !important;
  text-align: center;
font-size: 1.8em;
  margin-bottom: 10% !important;

 
}

.form-control > div{
font-size: 1.5em;
  margin-bottom: 3%;
}
.bling{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.362);
  z-index: 1;
  margin-right: .2%;
  padding-bottom: 0%;
}


.formBG {
  position: relative;
  margin: 80px 0 50px;
  width: auto;
}



.card-text {
  color: #ffffff;
}

.btn {
  color: rgba(55, 165, 222);
}


.logP{
  margin-top: 8.5% !important;
  font-size: 1.2em;
  
}

.courseEm{
  margin-top: 3% !important;
}

.cR{
  max-height: 70vh;
  display: flex;
}

.createC{
  margin-top: 5%;
  padding: 0%;
  max-height: fit-content;
}

/* .logFoot{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

} */

/*.my-card {
  /* width: 100vw; */
/* height: auto; */
/* box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  position: relative;
  border-radius: 20px; */
/* margin: auto; */
/* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */

/* 
.img-place {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#card-img {
  width: 100%;
  height: 280px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url(https://i.pinimg.com/736x/5a/b1/2a/5ab12ae40f4d28572704b7e4d4fadb41.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
} */

/* #card-img:hover {
  width: 300px;
} */

/* .card-2-space {
padding: 0 40px 20px 40px;
} */

/* .card-btn {
  width: 100%;
  margin-top: 10px;
} */

/* .my-btn {
  width: 100%;
  background-color: #000000;
  border: 0px;
  padding: 8px;
  color: #ffffff;
  transition: 0.3s;
} */

/* .my-btn:hover {
  background-color: #666699;
} */

/* .btn {
  background-color:  #0d0d0d;
  color: #ffffff;
  padding: 10px;
  border: 1px solid  #1a1a1a;
  border-radius: 8px;
  transition: 0.3s;
} */

/* .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 1rem 0;
    font-size: 18px;
    color: #fff;
} */

/* .form-control input:focus,
.form-control input:valid {
    outline: none;
    border-bottom-color: lightblue;

} */
