body {
    background-color:  #0089d294;
    background-image: linear-gradient(#0089d294, rgb(95, 183, 255));
  }
  
 .sideNavCont {
    display: flex;
   
  }
  
  aside {
    background-color: #919092;
    width: 16.75rem;
    position: fixed;
    z-index: 1;
    height: 110%;
    margin-top: -10%;
    
    
  }
  
  
  
  
  .btn-container {
    position: fixed;
  }
  
  .container a {
    color: #f9fafb;
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: 600;
    display: block;
    margin: 20px;
  }
  
  .text-dark button {
    cursor: pointer;
    margin: 1.25rem;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #f9fafb;
  }

.navList{
    padding-top: 150%;
    text-align: center;
    
    z-index: 5;
}

.ribby{
  width: 50%;
}

.ribButt{
  width: 14%;
  padding: 0%;
  margin-bottom: 2%;
  z-index: 2;
  position: fixed;

}
 



  /* .aVid{
    margin-left: 22%;
  } */
  